.dice {
    height: 135px;
    width: 135px;
    border-radius: 12%;
}


#one {
    color: aliceblue;
    position: absolute;
    top: 35%;
    left: 40%;
}

#two {
    color: aliceblue;
    position: absolute;
    top: 35%;
    left: 52%;
}

#container {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    background-image: url(images/background.jpg);
    background-size: contain, cover;
}

#button {
    position: absolute;
    top: 30%;
    background-color:blanchedalmond;
    left: 50.5%;
    font-size: large;
}

#rounds {
    position: absolute;
    top: 60%;
    left: 30%;
    font-size: 20px;
    
}

.round {
    background-color:#D9E650;
    padding: 5px;
    border-radius: 10%;
    border-color: #FDFF00;
    border-style: solid;
}

#add {
    background-color: seagreen;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    padding: 5px;
    font-style: oblique;
    border-radius: 10%;
}



.player {
    background-color: #D9E650;
    padding: 5px;
    border-radius: 10%;
    border-color: #FDFF00;
    border-style: solid;
    text-align: center;
}

#footer {
    position: absolute;
    bottom: 0px;
    padding-top: 20px;
    background-color: seagreen;
    font-style: italic;    
    text-align: center;
    width: 100%;
}

#play1 {
    position: absolute;
    top: 4%;
    left: 10%;
}

#play2 {
    position: absolute;
    top: 4%;
    left: 23%;
}

#play3 {
    position: absolute;
    top: 4%;
    left: 37%;
}

#play4 {
    position: absolute;
    top: 4%;
    left: 60%;
}

#play5 {
    position: absolute;
    top: 4%;
    left: 75%;
}

#play6 {
    position: absolute;
    top: 4%;
    left: 88%;
}